.card {
  padding: 2em 2em 3em 2em;
  border-bottom: solid 1px var(--light-grey);
}

.card:hover {
  color: var(--dark-blue);
}

.proximity, .rating {
  margin-bottom: 0.5em;
}

.heading {
  margin-bottom: 0.75em;
}

.title {
  margin-bottom: 0.25em;
}

.details {
  margin-bottom: 1.5em;
}

a {
  color: inherit;
  text-decoration: none;
}

.img {
  margin-left: 1em;
}

/* add to style.css, global refactor */
.title {
  font-weight: bold;
  font-size: x-large;
}