/* * { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
} */
body {
    background-color: white;
}

#main-content {
    background-color: white;
    margin: 1rem 3em;
}

#title {
    text-align: center;
    /* background-color: #E4DEE4; */
}

#title h1 {
    font-size: 2.5rem;
    margin: 0;
    padding: 1rem 0;
}

#loc-info {
    border-radius: 1rem;
    /* background-color: antiquewhite; */
    /* padding: 1rem 1rem; */
}

#rating {
    /* padding: 1rem 1rem; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background-color: lightgray; */
}

#rating-number {
    font-size: 4rem;
    text-align: center;
    /* padding: 1rem; */
    margin: 0rem;
    /* background-color: lightgray; */
}

.rating {
    display: inline-block;
    unicode-bidi: bidi-override;
    color: lightgray;
    font-size: 3vh;
    height: 3vh;
    width: auto;
    margin: 0;
    position: relative;
    padding: 0;
}

.rating-upper {
    color: #FFD700;
    padding: 0;
    position: absolute;
    z-index: 0;
    display: flex;
    top: 0;
    left: 0;
    overflow: hidden;
}

.rating-lower {
    padding: 0;
    display: flex;
    z-index: 0;
}

.single-progress-bar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0.69rem;
    margin-left: 0.69rem;
}

.rating-text {
    margin-right: 0.5rem;
    width: fit-content;
}

.rating-value {
    margin-left: 0.69rem;
}

.progress {
    height: 20px;
    width: 69%;
    background-color: #e0e0de;
    border-radius: 4px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background-color: #FFD700;
    width: 18%;
}

#loc-info-inner {
    /* display: flex; */
    /* justify-content: space-between; */
    /* background-color: lightblue; */
    padding: 2rem 0;
    padding-bottom: 1rem;
    /* background-color: antiquewhite; */
    border-radius: 1rem;
    
}

/* colors: https://coolors.co/ede3e4-e7dfe8-e4dee4-cabfc5-af9fa5-aa9ca0-a4989a */
#gist {
    /* background-color: #E4DEE4; */
    padding: 1rem 1rem;
    background-color: #d6ffce;
    border: solid 3px black;
    border-radius: 1rem;
    margin-top: 1rem;
}

#img-revs {
    /* background-color: lightblue; */
}

#img-container {
    display: flex;
    justify-content: center;
    /* background-color: lightgreen; */
    padding: 1rem 1rem;
    height: 35vh;
}

#add-review-button {
    padding: 1.5rem;
    display: flex;
    justify-content: flex-end;
}


#reviews {
    /* background-color: #E4DEE4; */
    /* padding: 1rem 1rem; */
    margin: 0 1.5rem;
    padding: 0.5rem 0;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

.review {
    background-color: #cce9fa;
    margin: 0.5rem 0.5rem;
    border: solid 3px black;
    border-radius: 1rem;
    padding: 1rem 1rem;
}

#rev-rating {
    font-size: 1.25rem;
    font-weight: bold;
}

.edit {
    text-align: center;
}

.edit button {
    float: right;
    /* max-height: 30vh;
    max-width: 30vh; */
    border-radius: 0.25rem;
    padding: 0.25rem;
    margin: 0.25rem;
}

#fade-out-container {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.save-button, .exit-button, .edit-text, .edit-tags {
    display: none;
}

.edit-text {
    width: 100%;
}

.text {
    margin: 1em 0;
}