/* * { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
} */
body {
    background-color: white;
}

#main-content {
    background-color: white;
    margin: 2em;
}

#title {
    text-align: center;
    background-color: #E4DEE4;
}

#title h1 {
    font-size: 40px;
    margin: 0;
    padding: 1rem 0;
}

#loc-info {
    /* background-color: lightcoral; */
    /* padding: 1rem 1rem; */
}

#rating {
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    /* background-color: lightgray; */
}

#rating-number {
    font-size: 4em;
    padding: 2rem;
    margin: 0;
    background-color: lightgray;
}

#stars {
    background-color: #E4DEE4;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.clip-star {
    background: white;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    display: inline-block;
    /* height: 20%; */
    height: 50px;
    width: 50px;
}

.full-star {
    background: black;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    display: inline-block;
    /* height: 20%; */
    height: 50px;
    width: 50px;
}

/* colors: https://coolors.co/ede3e4-e7dfe8-e4dee4-cabfc5-af9fa5-aa9ca0-a4989a */
#gist {
    background-color: #E4DEE4;
    padding: 1rem 1rem;
}

#img-revs {
    /* background-color: lightblue; */
}

#img-container {
    display: flex;
    justify-content: center;
    /* background-color: lightgreen; */
    padding: 1rem 1rem;
    height: 35vh;
}

#add-review-button {
    padding: 1.5rem;
    display: flex;
    justify-content: flex-end;
}


#reviews {
    background-color: #E4DEE4;
    /* padding: 1rem 1rem; */
    margin: 0 1.5rem;
    padding: 0.5rem 0;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

.review {
    background-color: #ffffff;
    margin: 0.5rem 0.5rem;
    border: solid 3px black;
    border-radius: 5px;
}

.star-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.star-container .clip-star {
    background: #E4DEE4;
    height: 90px;
    width: 90px;
    text-align: center;
    /* vertically align text */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
}

#fade-out-container {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 10;
}