#hideReviewForm{
    display: none;
}
#modalForm{
    margin-left: 4%;
}


/* 
    modal overall Style
*/
#modal{
    position: fixed;
    top: 30%;
    right: 40%;
    display: flex;
    background-color: whitesmoke;
    border: 2px solid #90EE90;
    display: flex;
    flex-direction: column;
}


/* 
    Exit button style
*/
#modal .exitBtn {
    align-self: flex-end;
    font-size: 1.4em;
    margin: 8px 8px 0;
    padding: 0 8px;
    cursor: pointer;
  }