.container {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.content {
  height: 100vh;
  box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
}

.map, .cards {
  height: 100vh;
}

.filter, .cards {
  border-bottom: solid var(--light-grey) 2px;
}

.search-bar {
  display: flex;
  background-color: #F3F3F3;
}

.search {
  flex-grow: 1;
  padding: 0.5em;
  margin: 1em 2em;
}

.cards {
  overflow-y: scroll;
}

.filter {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  font-weight: bold;
  font-size: small;
  padding: 1.5em 2em 1em 2em;
}

.filter-label:hover {
  color: var(--dark-blue);
}