:root {
    --grey: #979799;
    --light-blue: #BEE3F8;
    --blue: #719BE3;
}

html {
    height: 100%;
}

body {
    background-color: antiquewhite;
    height: 100%;
}

textarea {
    resize: vertical; 
}

#content {
    height: 100%;
}