{% extends "base.html" %}

{% block html_head %}
<script src="{{url_for('static', filename='scripts/picker-map.js')}}"></script>
<script
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUorjtCl749J-WlpB3VxDaOTxssaavgto&callback=initMap"
defer
async
></script>

{% endblock %}

{% block content %}
<div class="pure-g"> <!-- FIXME: get rid of inline style once layout is made -->
  <div id="map" class="pure-u-2-5">
    <p>TODO: map goes here</p>
  </div>
  <div class="pure-u-3-5">
    <form class="pure-form pure-form-stacked">
      <fieldset> <!-- FIXME: idr if fieldset is actually needed here -->
          <h4>Add a Study Spot</h4>
          <h1 id="address">Address at Pin Mark</h1> <!-- TODO: address dependent on map -->

          <div class="pure-form-message">
            Click anywhere on the map to adjust the location of your study spot.
          </div><br>

          <label for="title">Study Spot Title</label>
          <input id="title" class="pure-input-1" name="title" placeholder="basement of keller hall" /><br>

          <label for="description">Description</label>
          <textarea class="pure-input-1" id="description" name="description" placeholder="you would be so powerful here"></textarea>
        
          <div class="pure-g">
            <div class="pure-u-3-5">
              <label for="hours">Hours Open</label>
              <textarea class="pure-input-1" id="hours" name="hours" placeholder="Mondays 2-4 PM"></textarea>
            </div>

            <div class="pure-u-2-5">
              <label for="upload"> Images
                <span class="pure-form-message-inline">Optional</span>
              </label> 
              <input class="pure-input-1" type="file" name="image" id="upload" />
            </div>
          </div><br>

          <div>
            Tags
            <p>(populate with tags here)</p>
            <!-- TODO: populate w/ tags -->
          </div>

          <input class="pure-button pure-button-primary" type="submit" value="Add Location"
            formaction="{{url_for('location')}}" formmethod="post">
      </fieldset>
  </form>
  </div>
</div>
{% endblock %}