{% extends "base.html" %}

{% block content %}
<div class="pure-g"> <!-- FIXME: get rid of inline style once layout is made -->
  <div class="pure-u-2-5">
    <p>TODO: map goes here</p>
  </div>
  <div class="pure-u-3-5">
    <form class="pure-form pure-form-stacked">
      <fieldset> <!-- FIXME: idr if fieldset is actually needed here -->
          <h4>Add a Study Spot</h4>
          <h1>Address at Pin Mark, City, State, 55455</h1> <!-- TODO: address dependent on map -->

          <div class="pure-form-message">
            Click anywhere on the map to adjust the location of your study spot.
          </div><br>

          <label for="title">Study Spot Title</label>
          <input id="title" class="pure-input-1" placeholder="basement of keller hall" /><br>

          <label for="description">Description</label>
          <textarea class="pure-input-1" id="description" placeholder="you would be so powerful down here">
          </textarea><br>
        
          <div class="pure-g">
            <div class="pure-u-3-5">
              <label for="hours">Hours Open</label>

              <!-- FIXME: make macro? / clean up -->
              <div class="pure-g">
                <select id="days">
                  <option>Monday</option>
                  <option>Tuesday</option>
                  <option>Wednesday</option>
                  <option>Thursday</option>
                  <option>Friday</option>
                  <option>Saturday</option>
                  <option>Sunday</option>
                </select>
                <input type="time" id="hrs_from" />
                <input type="time" id="hrs_to" />
              </div>
              <!-- TODO: add new times -->
            </div>

            <div class="pure-u-2-5">
              <label for="upload"> Images
                <span class="pure-form-message-inline">Optional</span>
              </label> 
              <input class="pure-input-1" type="file" id="upload" />
            </div>
          </div><br>

          <div>
            Tags
            <p>(populate with tags here)</p>
            <!-- TODO: populate w/ tags -->
          </div>

          <button type="submit" class="pure-button pure-button-primary">Add Location</button>
      </fieldset>
  </form>
  </div>
</div>
{% endblock %}