<link rel="stylesheet" href="{{url_for('static', filename='css/card.css')}}">

<a href="#">
  <div class="card pure-g">
    <div class="info pure-u-13-24">
      <div class="heading">
        <div class="title">Location Title</div>
        <div class="subtitle">Open until XX:XX</div>
      </div>
      <div class="details">
        <div class="proximity">📌 X.XX km away</div>
        <div class="rating">⭐ X.X / 5.0</div>
      </div>
      <div id="tags">(tags go here)</div>
    </div>
    <div class="img-container pure-u-11-24">
      <img class="img pure-img" src="" alt="">
    </div>
  </div>
</a>