<!--Layout reference: https://purecss.io/menus/ -->
<nav class="header">
    <div class="menu-header pure-menu pure-menu-horizontal">
        <a href="{{url_for('landing')}}" class="pure-menu-heading pure-menu-link">LOGO</a><!--I was thinking this might be link to our main page-->

        <ul class="pure-menu-list">
            <li class="pure-menu-item">
                <a href="{{url_for('add_location')}}" class="pure-menu-link">Add Location</a>
            </li>
            <li class="pure-menu-item">
                <a href="#" class="pure-menu-link">Search</a>
            </li>
            <li class="pure-menu-item">
                <a href="#" class="pure-menu-link">Login</a>
            </li>
        </ul>
    </div>
</nav>