{% extends "base.html" %}

{% block html_head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/landing.css')}}">
{% endblock %}

{% block content %}
<div class="hero">
    <h1 class="hero-header">Find Your Place To Sit</h1>
    <p class="sub-hero">Discovering comfort in every corner of the world</p>
</div>

<div class="main">
    <div class="search">
        <h1>Get Started</h1>
        <form action="/search" method="POST" class="search-form pure-form">
            <input class="bar" type="text" placeholder="Enter address, neighborhood, city or ZIP code" required>
        </form>
    </div>    
</div>
{% endblock %}