{% extends 'base.html' %}

{% block html_head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/location.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/reviewForm.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/tags.css')}}">
    <script defer src="{{url_for('static', filename='scripts/reviewModal.js')}}"></script>
{% endblock %}

{% block content %}
    <div id="main-content" class="pure-g">
        <!-- Title of location -->
        <div id="title" class="pure-u-1">
            <h1>{{ location["title"] }}</h1>
        </div>

        <!-- Location info (LHS) -->
        <div id="loc-info" class="pure-u-1-3">
            <div id="rating">
                <h2 id="rating-number"> {{ rating }} </h2>
            </div>

            <div id="stars">
                {% for i in range(0, rating|int) %}
                    <div class="full-star"></div>
                {% endfor %}
                {% for i in range(rating|int, 5) %}
                    <div class="clip-star"></div>
                {% endfor %}
            </div>

            <div id="gist">
                <h2>Description</h2>
                <p>{{ location["description"] }}</p>

                <h2>Hours</h2>
                <p>{{ location["hours"] }}</p>

                <h2>Address</h2>
                <p>{{ location["address"] }}</p>

                <!-- TODO: make tags look cool -->
                <h2>Tags</h2>
                <div class="picked-tags">
                    {% for tag in location["tags"] %}
                        <div class="picked tag">
                            {{ tag }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="pure-u-1-12"> </div>

        <!-- Image and reviews (RHS) -->
        <div id="img-revs" class="pure-u-7-12">
            <div id="img-container">
                <!-- TODO: Add image from DB here -->
                <img src="https://via.placeholder.com/400x200.png" alt="placeholder">
            </div>

            <div id="add-review-button">
                <button id="addBtn" class="pure-button pure-button-primary">Add Review</button>
            </div>

            <div id="hideReviewForm" class="modal">
              {% include "/components/review_modal.html" %}
            </div>

            <div id="reviews">
                {% for rev in reviews %}
                    <div class="review pure-g">
                        <div class="star-container pure-u-1-6">
                            <div class="clip-star">{{ rev["rating"] }}</div>
                        </div>
                        <div class="pure-u-2-3">
                            <h3>
                                Review #{{ loop.index }}
                            </h3>
                            <p>{{ rev["review"] }}</p>
                        </div>
                        <div class="picked-tags pure-u-1-6">
                            {% for tag in rev["tags"] %}
                                <div class="picked tag">
                                    {{ tag }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}