{% extends 'base.html' %}

{% block html_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/location.css') }}">
<link rel="stylesheet" href="{{url_for('static', filename='css/reviewForm.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/tags.css')}}">

<script defer src="{{url_for('static', filename='scripts/reviewModal.js')}}"></script>
<script defer src="{{url_for('static', filename='scripts/star.js')}}"></script>
<script defer src="{{url_for('static', filename='scripts/review.js')}}"></script>
<script src="{{url_for('static', filename='scripts/tags.js')}}"
    picked_label="review-picked-tags" unpicked_label="review-unpicked-tags" tags_label="review-tags" limit=3 defer>
</script>
<script>
    // Retrieves the address of the location.
    function getAddy() {
        let address = document.getElementById('addy').innerText;
        let myLatitude = address.split(",")[0];
        myLatitude = parseFloat(myLatitude.split("(")[1]);
        let myLongitude = address.split(",")[1];
        myLongitude = parseFloat(myLongitude.split(")")[0]);
        var geocoder = new google.maps.Geocoder();
        var location = new google.maps.LatLng(myLatitude, myLongitude);

        geocoder.geocode({ 'latLng': location }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                let addy = results[0].formatted_address;
                let addyContainer = document.getElementById('addy');
                addyContainer.innerText = addy;
            } else {
                alert("Geocode failure: " + status);
                return false;
            }
        });
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUorjtCl749J-WlpB3VxDaOTxssaavgto&callback=getAddy" defer async></script>
{% endblock %}

<!-- So we don't have a bunch of ★s copy pasted everywhere. -->
{% macro stars(num) %}
    {% for i in range(num) %}
        <span>★</span>
    {% endfor %}
{% endmacro %}

{% macro progress_bar(rating) %}
    <div class="single-progress-bar">
        <div class="rating-text"> {{rating}} ★</div>
        <div class="progress">
            <div class="progress-bar"></div>
        </div>
        <span class="rating-value">0</span>
    </div>
{% endmacro %}

{% block content %}
<div id="fade-out-container"></div>
<div id="main-content" class="pure-g">
    <div id="title" class="pure-u-1"><h1>{{ location["title"] }}</h1></div>

    <!-- Location info (LHS) -->
    <div id="loc-info" class="pure-u-1-3">
        <div id="loc-info-inner" class="pure-g">
            <div id="rating" class="pure-u-1-3">
                <h2 id="rating-number" class="rev-number"> {{ "%.1f"|format(rating) }} </h2>
                <div class="rating">
                    <div class="rating-upper">{{ stars(5) }}</div>
                    <div class="rating-lower">{{ stars(5) }}</div>
                </div>
            </div>

            <div id="progress-bars" class="pure-u-2-3">
                {% for i in range(1,6) %}
                    {{ progress_bar(6-i) }}
                {% endfor %}
            </div>
        </div>
        <div id="gist">
            <h2>Description</h2><p>{{ location["description"] }}</p>
            <h2>Hours</h2><p>{{ location["hours"] }}</p>
            <h2>Address</h2><p id="addy">{{ location["location"] }}</p>

            <!-- TODO: make tags look cool -->
            <h2>Tags</h2>
            <div class="picked-tags">
                {% for tag in location["tags"] %}
                    <div class="picked tag">{{ tag }}</div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="pure-u-1-12"></div>

    <div id="img-revs" class="pure-u-7-12">
        <div id="img-container">
            {% set base_url = "/images/" %}
            <img src={{ base_url ~ location["id"] }} alt="placeholder">
        </div>

        <div id="add-review-button">
            <button id="addBtn" class="pure-button pure-button-primary">Add Review</button>
        </div>

        <div id="hideReviewForm" class="modal">
            {% include "/components/review_modal.html" %}
        </div>

        <!-- Location Reviews -->
        <div id="reviews">
            {% for rev in reviews %}
                <div class="review">
                    <div class="pure-g">
                        <div class="pure-u-4-5">
                            <div>
                                <div id="stars-{{ rev['id'] }}">
                                    <span id="rev-rating-{{ rev['id'] }}" class="rev-number"> {{ rev["rating"] }} </span>
                                    <div class="rating">
                                        <div class="rating-upper">{{ stars(5) }}</div>
                                        <div class="rating-lower">{{ stars(5) }}</div>
                                    </div>
                                </div>
                                <div class="edit-stars" id="edit-stars-{{ rev['id'] }}">
                                    <div class="stars pure-u-1">
                                        <div class="star-rate">
                                          <input type="radio" id="star-5-{{ rev['id'] }}" name="starRating" value="5" required="">
                                          <label for="star-5" title="5 stars">5 stars</label>
                                          <input type="radio" id="star-4-{{ rev['id'] }}" name="starRating" value="4">
                                          <label for="star-4" title="4 stars">4 stars</label>
                                          <input type="radio" id="star-3-{{ rev['id'] }}" name="starRating" value="3">
                                          <label for="star-3" title="3 stars">3 stars</label>
                                          <input type="radio" id="star-2-{{ rev['id'] }}" name="starRating" value="2">
                                          <label for="star-2" title="2 stars">2 stars</label>
                                          <input type="radio" id="star-1-{{ rev['id'] }}" name="starRating" value="1">
                                          <label for="star-1" title="1 star">1 star</label>
                                        </div>
                                      </div>
                                </div>

                                <p class="text" id="text-{{ rev['id'] }}">{{ rev["review"] }}</p>
                                <textarea class="edit-text text" id="edit-text-{{ rev['id'] }}">{{rev["review"]}}</textarea>
                            </div>

                            <div id="tags-{{ rev['id'] }}" class="picked-tags">
                                {% for tag in rev["tags"] %}
                                    {% if tag != None %}
                                        <div class="picked tag">{{ tag }}</div>
                                    {% endif %}
                                {% endfor %}
                            </div>

                            <div class="edit-tags" id="edit-tags-{{ rev['id'] }}">
                                <div class="tags pure-u-1">
                                    <div id="review-tags">
                                      <label class="subtitle" for="tags-list">Select tag: (3 max)</label>
                                      <input id="edit-tags-list" type="hidden" name="tags" value="" />
                                    </div>
                                  </div>
                            </div>  
                        </div>
                        <div id="{{ rev['id'] }}" class="edit pure-u-1-5">
                            <button class="edit-button" id="edit-{{ rev['id'] }}"> ✏️ </button>
                            <button class="exit-button" id="exit-{{ rev['id'] }}"> ❌ </button>
                            <button class="save-button" id="save-{{ rev['id'] }}" loc_id="{{ location['id'] }}"> ✔️ </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}