<div>
  <form class="pure-form pure-form-stacked">
    <fieldset>
        <legend>Write Review</legend>
        <label for="rating">Overall Rating</label>
        <input required type="rating" id="rating" />
        
        <span class="pure-form-message">Written Review</span>
        <textarea required type="text" id="review"></textarea>
        
        <label for="tags">Tags</label>
        <input required type="tags" id="tags" />
        
        <button type="submit" class="pure-button pure-button-primary">
          Submit
        </button>
    </fieldset>
</form>
</div>