{% block html_head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/reviewForm.css')}}">
<script defer src="{{url_for('static', filename='scripts/reviewModal.js')}}"></script>
{% endblock %}

{% block content %}
<div id="modal">
  <form class="pure-form pure-form-stacked" id="modalForm">
    <button class="exitBtn" title="Close">x</button>
    <fieldset>
        <legend>Write Review</legend>
        <label for="rating">Overall Rating</label>
        <!-- TODO make this required-->
        <input type="rating" id="rating" />
        
        <label>Written Review</label>
        <!-- TODO make this required-->
        <textarea type="text" id="review"></textarea>
        
        <label for="tags">Tags</label>
        <!--<input  type="tags" id="tags" />-->
        <input class="tags" id="stacked-remember" type="checkbox" value="taggy"/> taggy
        <input class="tags" id="stacked-remember" type="checkbox" value="taggy2"/> taggy2
        <input class="tags" id="stacked-remember" type="checkbox" value="taggy3"/> taggy3


        
        <button type="submit" class="pure-button">
          Submit
        </button>
    </fieldset>
</form>
</div>

{% endblock %}